:root {
  --main-font-size: 4.5rem;

  /* Some colors */
  --gray-color: #2C3435;

  /* Defining the message part properties */
  --message-background-color: #29506a;
  --message-text-color: #fffaff;
  --message-text-shadow-properties: #6c5a75 4px 3px;
  --message-border-poperties: 8px solid #e6dae6;
  --message-border-radius: 5px;
  --message-border-container-properties: 8px solid #2C3435;
  --message-border-container-radius: 15px;

  /* Options part properties */
  --options-text-shadow-properties: #d5d2cd 4px 3px;
  --options-normal-borders-options: 5px solid var(--gray-color);
  --options-taller-borders-options: 10px solid var(--gray-color);
}

@font-face {
  font-family: 'Pokemon';
  src: url("/Pokemon.woff") format("woff");
  font-style: normal;
  font-weight: normal;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  font-family: 'Pokemon';
  box-sizing: border-box;
}

.battle_display {
  display: grid;
  grid-template-rows: 1fr 210px;
  height: 100dvh;
}

.pokemons_on_battle {
  background-color: red;
}

.battle_options {
  /* Configurating the first options of the battle (the what will do message and the attack, bag, run and pokémon options) */
  .options_part {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    height: 100%;
    padding-left: 8px;
    background-color: var(--gray-color);
    height: 100%;
    
    /* The styles for the box of the message "What will <Pokémon> do?" */
    .message_box{
      padding-block: 12px;
      width: 50%;
      padding-left: 15px;
      background-color: #CCB03F;
      border-top-left-radius: var(--message-border-container-radius);
      border-bottom-left-radius: var(--message-border-container-radius);
      
      .what_will_do {
        display: grid;
        place-items: center;
        
        /* Here the styles for the message box ("What will <Pokémon> do")" */
        p {
          width: 100%;
          padding-left: 20px;
          padding-top: 15px;
          padding-bottom: 10px;
          word-spacing: 15px;
          font-size: var(--main-font-size);
          text-align: left;
          border-top: var(--message-border-poperties);
          border-bottom: var(--message-border-poperties);
          border-left: var(--message-border-poperties);
          border-top-left-radius: var(--message-border-radius);
          border-bottom-left-radius: var(--message-border-radius);
          background-color: var(--message-background-color);
          color: var(--message-text-color);
          text-shadow: var(--message-text-shadow-properties);
        }
      }
    }

    /* The part of the options like FIGHT, POKéMON, RUN and BAG */
    .options {
      width: 50%;
      height: 100%;
      background-color: #fffaff;
      display: flex;
      justify-content: center;
      padding: 3px;
      

      /* Here's the first border configurator and the options to load well the second border. This border has the top border taller than the others */
      .first_border {
          border-inline: var(--options-normal-borders-options);
          border-top: var(--options-normal-borders-options);
          border-bottom: var(--options-taller-borders-options);
          border-radius: var(--message-border-container-radius);
          margin: 5px;
          padding: 5px;
          width: 100%;

        /* Here the options for the second border (that has the bottom border taller than the others) and put the options button in its places (make the grid for each button) */
        .buttons{
          display: grid;
          height: 100%;
          width: 100%;
          grid-template-columns: 1fr 1fr;
          row-gap: 10px;
          padding-block: 14px;
          padding-left: 5rem;
          background-color: #fffaff;
          border-inline: var(--options-normal-borders-options);
          border-bottom: var(--options-normal-borders-options);
          border-top: var(--options-taller-borders-options);
          border-radius: var(--message-border-container-radius);
          
          /* The options for each button of the options */
          button {
            border: none;
            position: relative;
            color: var(--gray-color);
            text-shadow: var(--options-text-shadow-properties);
            background: transparent;
            text-align: left;
            font-size: var(--main-font-size);

            &:hover,
            &:active,
            &:focus {
              outline: none;

              &::before {
                content: "◢";
                position: absolute;
                rotate: -45deg;
                font-size: 40px;
                left: -22%;
                top: 16%;
              }
            }
          }      
        }
      }
    }
  }
}

#pokemon_selector {
  select {
    font-size: 2em;
    font-weight: 500;
    width: 160px;
    height: 40px;

  }

  /* #your_pokemon { */
  /* } */
  /**/
  /* #enemie_pokemon { */
  /**/
  /* } */
} 
